{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Your Todo List</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="{% url 'lists' %}" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Todo Titile </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                value="{{search}}" placeholder="Search by Todo Title" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          {% for list in todo %}

          <div class="column">
            <div class="card project">
              <a href="{% url 'list' list.id %}" class="project">
                <img class="project__thumbnail" src="{{list.owner.profile_image.url}}"  alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{list.title}}</h3>
                  <p>{{list.body|slice:"50"}}</p>
                  <p class="project--rating">
                    <span style="font-weight: bold;">Time: </span> {{list.time_reminder}}
                  </p>


                </div>
              </a>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </section>

  </main>













{% endblock content %}

